In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor, plot_tree
import matplotlib.pyplot as plt
pd.options.plotting.backend = 'plotly'
from sklearn.pipeline import make_pipeline

In [2]:
import category_encoders as ce

In [3]:
df = pd.read_csv('/Users/mcs275/dat-class-repo/master.csv', parse_dates = ['visit_date'])

In [4]:
df

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
252103,air_a17f0778617c76e2,2017-04-21,49,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0
252104,air_a17f0778617c76e2,2017-04-22,60,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0
252105,air_a17f0778617c76e2,2017-03-26,69,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0
252106,air_a17f0778617c76e2,2017-03-20,31,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0
252107,air_a17f0778617c76e2,2017-04-09,26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0

In [5]:
df = df.fillna(0)

In [6]:
df = df.sort_values(['id','visit_date'])

In [7]:
train = df.groupby('id').apply(lambda x: x.iloc[:-15]).reset_index(drop = True)
test  = df.groupby('id').apply(lambda x: x.iloc[-15:]).reset_index(drop = True)

In [8]:
train

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_00a91d42b08b08d9,2016-07-01,35,Friday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
1,air_00a91d42b08b08d9,2016-07-02,9,Saturday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,4.0
2,air_00a91d42b08b08d9,2016-07-04,20,Monday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
3,air_00a91d42b08b08d9,2016-07-05,25,Tuesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
4,air_00a91d42b08b08d9,2016-07-06,29,Wednesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
...,...,...,...,...,...,...,...,...,...,...
239668,air_fff68b929994bfbd,2017-04-03,2,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,0.0
239669,air_fff68b929994bfbd,2017-04-04,4,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,0.0
239670,air_fff68b929994bfbd,2017-04-05,6,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,2.0
239671,air_fff68b929994bfbd,2017-04-06,6,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,8.0
239672,air_fff68b929994bfbd,2017-04-07,9,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,1.0

In [9]:
X_train = train.drop(['visitors', 'visit_date'],axis=1)
y_train = train['visitors']
X_test = test.drop(['visitors', 'visit_date'], axis =1)
y_test = test['visitors']

te = ce.TargetEncoder()
tree = DecisionTreeRegressor(max_depth = 6)
pipe = make_pipeline(te, tree)

In [10]:
pipe = make_pipeline(ce.TargetEncoder(), DecisionTreeRegressor(max_depth = 6))

# fit on the in-sample data
pipe.fit(X_train, y_train)

# score on the out of sample data
pipe.score(X_test, y_test)

In [11]:
pipe.fit(X_train, y_train).score(X_test, y_test)

0.46058887789605574

In [12]:
##create validation set from last 15 items of the original train set
val  = train.groupby('id').apply(lambda x: x.iloc[-15:]).reset_index(drop = True)
train = train.groupby('id').apply(lambda x: x.iloc[:-15]).reset_index(drop = True)

In [13]:
X_train = train.drop(['visitors', 'visit_date'],axis=1)
y_train = train['visitors']
X_val = val.drop(['visitors', 'visit_date'], axis =1)
y_val = val['visitors']

In [14]:
pipe

Pipeline(steps=[('targetencoder',
                 TargetEncoder(cols=['id', 'day_of_week', 'genre', 'area'])),
                ('decisiontreeregressor', DecisionTreeRegressor(max_depth=6))])

In [15]:
#retrieve last item in pipe list (DecisionTreeRegressor) and chage to 7
pipe[-1].set_params(max_depth = 7)
#fit the new pipe to training set and score on the validation set
pipe.fit(X_train, y_train).score(X_val, y_val)

0.48887807760701874

In [16]:
## deeper tree of 7 is better than original tree of 6

In [17]:
#retrieve last item in pipe list (DecisionTreeRegressor) and chage to 7
pipe[-1].set_params(max_depth = 6)
#fit the new pipe to training set and score on the validation set
pipe.fit(X_train, y_train).score(X_val, y_val)

0.4795716486578089

In [18]:
##alternately, use different encoders on different columns
pipe = make_pipeline(ce.TargetEncoder(cols = ['id']),
                     ce.OrdinalEncoder(cols = ['day_of_week','area']),
                     ce.OneHotEncoder(),
                     DecisionTreeRegressor(max_depth = 6))

In [19]:
pipe.fit(X_train, y_train).score(X_test, y_test)

0.43761580217416596

In [20]:
# function to automatically check for validation score -- useful for 
def get_val_scores(df, estimator):
    
    df = df.drop('visit_date', axis = 1)
    
    # create training and validation set
    train = df.groupby('id').apply(lambda x: x.iloc[:-15]).reset_index(drop = True)
    val   = df.groupby('id').apply(lambda x: x.iloc[-15:]).reset_index(drop = True)
    
    # create a validation & test set
    X_train, y_train = train.drop('visitors', axis = 1), train['visitors']
    X_val, y_val     = val.drop('visitors', axis = 1), val['visitors']
    
    estimator.fit(X_train, y_train)
    
    # score on the test data
    return estimator.score(X_val, y_val)

In [21]:
pipe

Pipeline(steps=[('targetencoder', TargetEncoder(cols=['id'])),
                ('ordinalencoder',
                 OrdinalEncoder(cols=['day_of_week', 'area'],
                                mapping=[{'col': 'day_of_week',
                                          'data_type': dtype('O'),
                                          'mapping': Friday       1
Saturday     2
Monday       3
Tuesday      4
Wednesday    5
Thursday     6
Sunday       7
NaN         -2
dtype: int64},
                                         {'col': 'area',
                                          'data_type': dtype('O'),
                                          'mapping': Tōkyō-to Chiyoda-ku Kudanminami           1
Tōkyō-to Minat...
Tōkyō-to Taitō-ku Higashiueno             3
Ōsaka-fu Ōsaka-shi Nakanochō              4
Ōsaka-fu Ōsaka-shi Ōhiraki                5
                                       ...
Niigata-ken Nagaoka-shi Ōtedōri         100
Tōkyō-to Setagaya-ku Kitazawa           101
Tōkyō-to Meguro-ku Takaban              102
Ōsaka-fu Sakai-shi Minamikawaramachi    103
NaN                                      -2
Length: 104, dtype: int64}])),
                ('onehotencoder', OneHotEncoder(cols=['genre'])),
                ('decisiontreeregressor', DecisionTreeRegressor(max_depth=6))])

In [22]:
train = df.groupby('id').apply(lambda x: x.iloc[:-15]).reset_index(drop = True)
test  = df.groupby('id').apply(lambda x: x.iloc[-15:]).reset_index(drop = True)

In [23]:
train

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_00a91d42b08b08d9,2016-07-01,35,Friday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
1,air_00a91d42b08b08d9,2016-07-02,9,Saturday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,4.0
2,air_00a91d42b08b08d9,2016-07-04,20,Monday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
3,air_00a91d42b08b08d9,2016-07-05,25,Tuesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
4,air_00a91d42b08b08d9,2016-07-06,29,Wednesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,0.0
...,...,...,...,...,...,...,...,...,...,...
239668,air_fff68b929994bfbd,2017-04-03,2,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,0.0
239669,air_fff68b929994bfbd,2017-04-04,4,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,0.0
239670,air_fff68b929994bfbd,2017-04-05,6,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,2.0
239671,air_fff68b929994bfbd,2017-04-06,6,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,8.0
239672,air_fff68b929994bfbd,2017-04-07,9,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,1.0

In [24]:
get_val_scores(train, pipe)

0.47174070918546396

In [25]:
##create function to be able to make quick changes and run through the function

In [ ]:
max_depth = [6, 7, 8]