In [74]:
import pandas as pd

In [75]:
reservations = pd.read_csv('air_reserve.csv')

In [77]:
stores = pd.read_csv('air_store_info.csv')

In [78]:
visits = pd.read_csv('air_visit_data.csv')

In [79]:
dates = pd.read_csv('date_info.csv')
dates['calendar_date'] = pd.to_datetime(dates['calendar_date'])

In [80]:
reservations['visit_datetime'] = pd.to_datetime(reservations['visit_datetime']).dt.date
reservations['visit_datetime'] = pd.to_datetime(reservations['visit_datetime'])

In [81]:
visits['visit_date'] = pd.to_datetime(visits['visit_date'])

In [87]:
reservations = reservations.merge(dates, left_on = 'visit_datetime', right_on = 'calendar_date', how = 'left')

In [86]:
reservations = reservations.groupby(['air_store_id', 'visit_datetime'])[['reserve_visitors']].sum().reset_index()

In [88]:
reservations

,air_store_id,visit_datetime,reserve_visitors,calendar_date,day_of_week,holiday_flg
0,air_00a91d42b08b08d9,2016-10-31,2,2016-10-31,Monday,0
1,air_00a91d42b08b08d9,2016-12-05,9,2016-12-05,Monday,0
2,air_00a91d42b08b08d9,2016-12-14,18,2016-12-14,Wednesday,0
3,air_00a91d42b08b08d9,2016-12-17,2,2016-12-17,Saturday,0
4,air_00a91d42b08b08d9,2016-12-20,4,2016-12-20,Tuesday,0
...,...,...,...,...,...,...
29825,air_fea5dc9594450608,2017-04-22,2,2017-04-22,Saturday,0
29826,air_fea5dc9594450608,2017-04-25,2,2017-04-25,Tuesday,0
29827,air_fea5dc9594450608,2017-04-28,3,2017-04-28,Friday,0
29828,air_fea5dc9594450608,2017-05-20,6,2017-05-20,Saturday,0
29829,air_fee8dcf4d619598e,2017-01-09,5,2017-01-09,Monday,1

In [89]:
visits = visits.merge(reservations, left_on = ['air_store_id', 'visit_date'], right_on = ['air_store_id', 'visit_datetime'], how = 'left')

In [90]:
visits.head(20)

,air_store_id,visit_date,visitors,visit_datetime,reserve_visitors,calendar_date,day_of_week,holiday_flg
0,air_ba937bf13d40fb24,2016-01-13,25,NaT,NaN,NaT,NaN,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,NaT,NaN,NaT,NaN,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,NaT,NaN,NaT,NaN,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,NaT,NaN,NaT,NaN,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,NaT,NaN,NaT,NaN,NaN
5,air_ba937bf13d40fb24,2016-01-19,9,NaT,NaN,NaT,NaN,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,NaT,NaN,NaT,NaN,NaN
7,air_ba937bf13d40fb24,2016-01-21,21,NaT,NaN,NaT,NaN,NaN
8,air_ba937bf13d40fb24,2016-01-22,18,NaT,NaN,NaT,NaN,NaN
9,air_ba937bf13d40fb24,2016-01-23,26,NaT,NaN,NaT,NaN,NaN
10,air_ba937bf13d40fb24,2016-01-25,21,NaT,NaN,NaT,NaN,NaN
11,air_ba937bf13d40fb24,2016-01-26,11,NaT,NaN,NaT,NaN,NaN
12,air_ba937bf13d40fb24,2016-01-27,24,NaT,NaN,NaT,NaN,NaN
13,air_ba937bf13d40fb24,2016-01-28,21,NaT,NaN,NaT,NaN,NaN
14,air_ba937bf13d40fb24,2016-01-29,26,NaT,NaN,NaT,NaN,NaN
15,air_ba937bf13d40fb24,2016-01-30,6,NaT,NaN,NaT,NaN,NaN
16,air_ba937bf13d40fb24,2016-02-03,18,NaT,NaN,NaT,NaN,NaN
17,air_ba937bf13d40fb24,2016-02-04,12,NaT,NaN,NaT,NaN,NaN
18,air_ba937bf13d40fb24,2016-02-05,45,NaT,NaN,NaT,NaN,NaN
19,air_ba937bf13d40fb24,2016-02-06,15,NaT,NaN,NaT,NaN,NaN

In [92]:
visits['reserve_visitors'].isnull().sum()

224044